:root{
    --red:#e50914;
    --black:#141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;

}

header .container{
    
}
header .logo{
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}